/* src/index.css (The Grand Finale Version) */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  td {
    @apply text-gray-200;
  }
  
  .a4-paper {
    width: 210mm;
    min-height: 297mm;
  }

  @page {
    size: A4;
    margin: 2cm;

    /* คำสั่งสำหรับซ่อน Header & Footer ที่ Browser สร้างขึ้น */
    @top-left { content: '' }
    @top-center { content: '' }
    @top-right { content: '' }
    @bottom-left { content: '' }
    @bottom-center { content: '' }
    @bottom-right { content: '' }
  }

  @media print {
    body {
      font-family: 'Sarabun', sans-serif;
    }

    /* --- เพิ่มโค้ด 4 บรรทัดนี้เข้าไป --- */
    /* บังคับให้หัวกระดาษ (school-header) จัดกลางเสมอตอนพิมพ์ */
    .school-header {
      text-align: center !important;
    }
  }
}